nav{
  height:200px;
  display: table;
  width: 100%;
}
nav .nav-wrapper{
  display: table-cell;
  height:100%;
  vertical-align: middle;
  text-align: center;
  width: 100%;
  background-color: DarkTurquoise;
}
a{
  color: inherit;
  text-decoration: none;
}
.results{
  display: none;
}

@media only screen and (max-width: 768px) {
  /*media queries for mobile screens*/
  nav{
    height:70px;
  }
}
